
// tec blue: 0, 51, 153
$tec-blue: rgb(0,51,153);
$dark-grey: #212121;
$med-grey: #515151;
$light-grey: #bdbdbd;
$lighter-grey: #d3d3d3;

body, html{
    margin: 0;
}

body{
    height: 100%;
    font-family: 'Montserrat';
}

aside{
    background: $tec-blue;
    width: 25%;
    float:left;
    height: 100vh;
    color: white;
    box-shadow: 5px 0px 5px 0 $med-grey;
    z-index: 40;
    // border: black solid 1vh;
}

button{
    padding: 8px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 0px $light-grey; 
    border: none;
    font-family: 'Montserrat';
}

button:active{
    box-shadow: inset 2px 2px 2px 0px $light-grey; 
}

.select-buttons{

    margin: 0;
    text-align: center;

    button{
        background: white;
        color: $tec-blue;
        margin: 5px 5px; 
        width: 100px;
    }
}

.container{
    background: white;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;

    button{
        background: $tec-blue;
        color: white;
    }
}

.title{
    display: flex;
    margin-top: 15px;

    .main-logo{
        width: 25%;
        height: 25%;
        max-width: 80px;
        display: flex;
        margin: auto 10px;
    }
    
    .title-text{
        font-size: 1.8em;
        margin: auto;
        display: flex;
        width:74%;
    }
}

.image-container{
    #btn-randomize{
        display: block;
        margin: auto;
        height: 8%;
        width: 30%;
        font-size: 1.5em;
    }

    .student-image-bck{
        margin:auto;
        display:block;
        width: 100%;
        min-height: 70%;
        max-height: 70%;
        background: url('http://placekitten.com/500/500') no-repeat center center;
        background-size: cover;
        box-shadow: inset 5px 1px 5px 0 $med-grey;
    }

    .selected-student{
        text-align: center;
        display: block;
        font-size: 4em;
        margin: 20px auto;
        text-shadow: 5px 5px 5px 5px #fff;
    }
}

.import-div{
    position:absolute;
    right: 0;
    bottom: 20px;
    padding: 10px 15px 10px 10px;
    background: $dark-grey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    // width: 30px;
    transition: width 1s;

    .fa-stack-2x{
        color: white;
    }

    .fa-stack-1x {
        color: $dark-grey;
    }
}



.import-div:hover{
    // width: 120px;
    // background: red;
    // :before{
    //     content: "Import JSON";
    //     font-family: 'Montserrat';
    // }
}

/* begin checkboxes code */

.inputGroup {
    background-color: $lighter-grey;
    display: block;
    margin: 6px 0;
    position: relative;

    label {
      padding: 6px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      font-size: 13px;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 20px;
        height: 20px;
        content: '';
        border: 2px solid red;
        background-color: red;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 1px 2px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        height: 24px;
        width: 24px;
        background-position: 3px 3px;
        background-color: green;
        border-color: green;
        box-shadow: 1px 0px 1px 0 $light-grey;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }


// codepen formatting
.form {
  padding: 0 16px;
  max-width: 150px;
  margin: 50px auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}

/* begin checkboxes code */

