
// tec blue: 0, 51, 153

body, html{
    margin: 0;
}

body{
    height: 100%;
    font-family: 'Montserrat';
}

aside{
    background: rgb(0,51,153);
    width: 25%;
    float:left;
    height: 98vh;
    border: black solid 1vh;
}

button{
    background: blue;
    border: none;
    padding: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 5px; 
}

.container{
    background: paleturquoise;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
}

.title{
    display: flex;

    .main-logo{
        width: 25%;
        height: 25%;
        display: flex;
        margin: auto 10px;
    }
    
    .title-text{
        font-size: 2em;
        margin: auto;
        display: flex;
        width:74%;
    }
}

.image-container{
    margin-top: 4em;

    #btn-randomize{
        display: block;
        margin: 20px auto;
    }
    
    .student-image{
        margin:auto;
        display:block;
    }
}



/* body{
    font-family: 'Rubik', sans-serif;
}
#container{
    width: 960px;
    margin: auto;
}

#btnRandom{
    margin: auto;
    display: block;
}

.centerText{
    text-align: center;
}

.centerElement{
    margin: auto;
    display: block;
}

ul{
    margin: 10px 0 0 0;
    list-style: none;
}

li{
    margin: 5px 0;
}

.customCheckbox{
    border: 2px solid lightslategrey;
    display: inline;
    border-radius: 10px 0 0 10px;
    background: lightgreen;
    border-right: none;
    min-width: 50px;
    width: 16%;
}
.customButton{
    display: inline;
    border-radius: 	0;
    border: 2px solid lightslategrey;
    border-right: none;
    min-width: 100px;
    width: 54%;
}

.customHowMany{
    border: 2px solid lightslategrey;
    border-radius: 0 10px 10px 0;
    min-width: 50px;
    width: 16%
}

.prettyBorder{
    border: 5px solid darkcyan;
    border-radius: 20px;
    padding: 10px;
    margin: 0 40px 10px 0;
}
#btnSelectAll, #btnSelectNone{
    width: 49%;
    height: 62px;
}

#selectedStudentPicture{
    width:550px;
} */